<%- include('../Layouts/Header') %>

      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">View Blog</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">View Blog</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <div class="card mb-4">
              <div class="card-header d-flex">
                <h3 class="card-title col-sm-4">Blog Data Table</h3>

                <form class="col-sm-3">
                    <div class="input-group">
                        <input type="text" name="searchBlog" value="<%= Search %>" placeholder="Search Blog" class="form-control">
                      <span class="input-group-append">
                        <button type="submit" class="btn btn-primary">Search</button>
                      </span>
                    </div>
                </form>

                <a class="col-sm-2" href="/dashboard/viewBlog"><button type="submit" class="btn btn-danger">Reset All</button></a>

                <form class="col-sm-3" id="sortForm">
                  <select class="form-select" id="selectOption" name="sortBy">
                    <option>--Sort By--</option>
                    <option value="asc">Ascending</option>
                    <option value="desc" >Descending</option>
                  </select>
                </form>

            </div>
              <!-- /.card-header -->
              <form action="/dashboard/deleteMultiBlog" method="post">
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 120px"><input type="checkbox" id="checkAll"><span style="margin: 0 10px;">Select All</span></th>
                        <th style="width: 10px">#</th>
                        <th>Blog Title</th>
                        <th>Blog Category</th>
                        <th>Status</th>
                        <th>Image</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <% BlogData.map((v, i) => { %>
                             <tr>
                                <td><input type="checkbox" name="Ids" value="<%= v.id %>"></td>
                                 <td><%= i+1 %></td>
                                 <td style="width: 300px;"><%= v.blogTitle %></td>
                                 <td><%= v.categoryId.categoryName %></td>
                                 <td class="<%= v.status? 'text-success':'text-danger'  %>"><%= v.status? 'Active':'Deactive' %></td>
                                 <td><img src="<%= v.blogImage %>" alt="<%= v.blogImage %>" width="200px"></td>
                                 
                                 <td>
                                     <a href="/dashboard/deleteBlog/?blogId=<%= v.id %>" class="btn btn-danger me-1"><i class="bi bi-trash me-1"></i>Delete</a>
                                     <a href="/dashboard/updateBlog/<%= v.id %>" class="btn btn-primary me-1"><i class="bi bi-pencil-square me-1"></i>Edit</a>

                                     <a href="/dashboard/changeBlogStatus/?blogId=<%= v.id %>&status=<%= !v.status?true:false %>" class="btn <%= v.status? 'btn-danger':'btn-success' %>"><%= v.status? 'Deactivate':'Activate' %></a>
                                 </td>
                             </tr>
                        <% })%>
                     </tr>
                    </tbody>
                  </table>
  
                  <div class="mt-3" id="multyDeleteBtn">
                    <button class="btn btn-danger" type="submit">Delete All</button>
                  </div>
  
                </div>
              </form>
              <!-- /.card-body -->
               
              <nav aria-label="..." class="d-flex justify-content-center mt-2">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link <%= parseInt(Page) <= 0 ? 'disabled' : '' %>" href="?page=<%= parseInt(Page) - 1 %>&sortBy=<%= sortBy %>">Previous</a></li>
                  <li class="page-item" aria-current="page">
                    <a class="page-link" href="?page=<%= Page %>"><%= parseInt(Page) + 1 %></a>
                  </li>
                  <li class="page-item"><a class="page-link <%= parseInt(Page) == TotalCounts-1 ? 'disabled' : '' %>"" href="?page=<%= parseInt(Page) + 1 %>&sortBy=<%= sortBy %>">Next</a></li>
                </ul>
              </nav>

            </div>
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->
      </main>
      <!--end::App Main-->

<%- include('../Layouts/Footer') %>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


<!-- Select All -->
<script>
    $("#multyDeleteBtn").hide();

    $("#checkAll").click(function () {
      $('input:checkbox').not(this).prop('checked', this.checked);
      $("#multyDeleteBtn").toggle();
    });
</script>

<!-- Sorting -->
<script>
  let selectOption = document.querySelector('#selectOption');
  let form = document.querySelector('#sortForm');

  selectOption.addEventListener('change', (e) => {
      if (e.target.value === 'asc' || e.target.value === 'desc') {
          // Trigger the form submit automatically when either "Ascending" or "Descending" is selected
          form.submit();
      }
  });
</script>